$primary-color:#CACBCD;
$background-app:linear-gradient(to right, #85d8ce, #085078);
$navbar_color:#0A91AB;
$leftPanel-color:#595959;
$rightPanel-color:#000;
$danger-color:#ff6666;
$danger-border-color:#ff4d4d;
$teal-color:#00b5ad;
$teal-border-color:teal;
$background-primary:#E8E8E8;