@import "./Config.scss";

.left-panel-his {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	padding: 1.5em;
	gap: 1.5em;
	.avatar {
		background-color: #fff;
		border-radius: 50%;
		padding: 1em;
		box-sizing: border-box;
		height: 20%;
		margin: 0 auto;
		img {
			object-fit: cover;
			height: 100%;
			width: auto;
		}
	}
	.info {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		gap: 1em;

		.label {
			width: 20%;
			max-width: 100%;
		}
		.input {
			height: 100%;
			span {
				margin: 0;
				max-width: 100%;
				flex: 1 0 auto;
				outline: 0;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				text-align: left;
				line-height: 1.21428571em;
				font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
				padding: 0.67857143em 1em;
				background: #fff;
				border: 1px solid rgba(34, 36, 38, 0.15);
				color: rgba(0, 0, 0, 0.87);
				border-top-right-radius: 0.28571429rem;
				border-bottom-right-radius: 0.28571429rem;
				transition: box-shadow 0.1s ease, border-color 0.1s ease;
				box-shadow: none;
			}
		}
	}

	.button-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1em;
	}

}
