@import './Config.scss';

.left-panel{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    color: $primary-color;

    .file-info{
        text-align: center;
        &::after{
            display:inline-block;
            content: '';
            margin-top:1.5em;
            width:90%; 
            height:1px; 
            background: $primary-color;
        }
    }

    .results{
        margin-top:1em;
        text-align: center;
    }
}