@import "./Config.scss";

.right-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		color: $primary-color;
	}
	.dropZone {
		display: flex;
		flex-direction: column;
		cursor: pointer;
		height: 80%;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 5px dashed $primary-color;
		border-radius: 10px;

		i {
			margin-bottom: 0.5em;
		}
		p,
		i {
			font-size: 20px;
			color: $primary-color;
		}
	}

	.thumbsContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 1em 2em;
		.thumb {
            flex: 1 1 auto;
			display: inline-flex;
			border-radius: 2px;
			width: 100%;
            box-sizing: border-box;
            
			.thumbInner {
				width: 100%;
				height: 100%;
                display: flex;
                object-fit: cover;
                justify-content:center;
                align-items: center;
                
				img {
                    height: 550px;
                    width: auto;
				}
			}
        }
        
        .ui.disabled.button{
            opacity: "1!important"
        }

        .process__buttons{
            background-color:$leftPanel-color;
            border-radius: 20px;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
            width:60%;
            flex: 0 1 10%;
            &__group{
                display: flex;
                flex-direction: column;
                padding: 5px 10px;
                font-size: 20px;
                justify-content: center;

                &:not(:last-child):not(:first-child){
                    border-left: 1px solid $primary-color;
                    border-right: 1px solid $primary-color;
                    width:100%;
                }
                &:last-child, &:first-child{
                    background-color: $danger-color;
                    height: 100%;
                    border: 1px solid $primary-color;
                }
                &:first-child{
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
                &:last-child{
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
                span{
                    color: $primary-color;
                    margin-bottom: 10px;
                    align-self: center;
                }

                &__control{
                    box-sizing: border-box;
                    padding: 0 20%;
                    font-size: 18px;
                    display: flex;
                    justify-content: space-around;
                    color: $primary-color;
                    align-items: center;
                }
            }
            display: flex;
            flex-direction: row;
        }
    }
    .nav__buttons{
        flex: 0 1 auto;
        button:last-child{
            margin-left:10px;
        }
    }

}
